@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@mixin tap{
    width: 100px;
    border: 1px solid blue;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
}
.sc-1{
   
     .menu{
        
        @include flex;
        justify-content: center;
        gap: 50px;
        .tap-1{
            @include  tap;
        }

    }
    .all-infor{
        @include flex;
        margin: 100px 0px;
        gap: 100px;
        .text{
            width: 400px;
             .text h1{
            font-size: 60px;
            margin: 10px 0px;

        }
    }
       .img
       {
        @include flex;
        justify-content: start;
       }
       .text p{
        margin: 10px 0px;
        font-size: 18px;
       }
    }
}
.sc-2{
    display: grid;

    grid-template-columns: 400px  400px 400px;
    grid-template-rows: repeat(4,500px);
    gap: 50px;
   margin: 150px;
    .box-1{
        width: 100%;
        .text{
            width: 90%;
            margin: auto;
        }
        .box-1, .img{
            width: 100%;
            
        }
    }
    .box-2 {
        width: 100%;
        margin: auto;
        .img{
            width: 100%;
        }
        .text{
            width: 90%;
            margin: 50px 0px;
        }
        .text p{
            font-size: 20px;
        }
    }
}

